input {
  width: 100%;
  font-size: 1em;
  height: 25px;
}
button {
  font-family: Arial, sans-serif;
  background-color: #eee;
  height: 31px;
  border: none;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
  cursor: hand;
  font-size: 0.9em;
  width: 100%;
}
button:hover {
  background-color: royalblue;
  color: white;
}
button:active {
  position: relative;
  top: 5px;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
#inputGroup {
  margin-bottom: 20px;
}
#input {
  margin-right: 106px;
  padding: 0;
}
#button {
  float: right;
  width: 100px;
}
input.checkbox {
  width: auto;
  height: auto;
  margin-top: 10px;
}
label.label {
  color: whitesmoke;
  vertical-align: bottom;
}
#downloadProgress {
  margin-bottom: 10px;
}
#downloadBar {
  width: 0;
  height: 30px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
#result {
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 8px;
  color: white;
  text-align: center;
  font: 18px Arial, sans-serif;
}
