<div>
  <div id="button"><button (click)="download()">Download</button></div>
  <div id="input"><input [(ngModel)]="downloadUrl" placeholder="downloadUrl" #keyUrl></div>
</div>
<div id="downloadProgress" (mouseenter)="detailedProgress = true" (mouseleave)="detailedProgress = false">
  <div id="downloadBar" [style.width]="getProgress() | percent:'1.1-1'">
    <div *ngIf="detailedProgress">{{getProgress() | percent:'1.2-2'}}</div>
    <div *ngIf="!detailedProgress">{{getProgress() | percent}}</div>
  </div>
</div>
<div *ngIf="failedUrls.length + failedKeys > 0">
  <label>Failed segments: {{failedUrls.length}}</label>
  <br>
  <label>Failed keys: {{failedKeys}}</label>
</div>

