input {
  width: 100%;
  font-size: 1em;
  height: 25px;
}
button {
  font-family: Arial, sans-serif;
  background-color: #eee;
  height: 31px;
  border: none;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
  cursor: hand;
  font-size: 0.9em;
  width: 100%;
}
button:hover {
  background-color: deeppink;
  color: white;
}
button:focus {
  outline: 0;
}
button:active {
  position: relative;
  top: 1px;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
#input {
  margin-right: 106px;
  padding: 0;
}
#button {
  float: right;
  width: 100px;
}
#downloadProgress {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgrey;
}
#downloadBar {
  width: 0;
  height: 30px;
  background-color: dodgerblue;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
